<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addFAQ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        html, body {
            background-color: #5368FF;
        }
        label {
            font-weight: 600;
        }
        #form1{
            display: none;
        }
        #form2{
            display: none;
        }
        #txtinput{
            display: none;
        }
        h1 {
            text-align: center;
            padding-top: 3%;
            padding-bottom: 3%;
        }
        .box {
            margin: auto;
            width: 70%;
            background-color: #00D09C;
            border-radius: 30px;
            margin-top: 30px;
            height: 700px;
        }
        .form-box {
            width: 70%;
            margin: auto;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class='box'>
        <h1>Chatbot Admin Panel</h1>
        <div class='form-box'>
            <div class="mb-3">
                <label for="category" class="form-label">Select the Category</label>
                <select id="category" class="form-select" aria-label="Default select example">
                    <option selected></option>
                </select>
            </div>
            <button type="button" id="add" class="btn btn-info">Add a Question</button>
            <button type="button" id = "modify" class="btn btn-warning">Modify</button>
            <form action="" id="form1">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="newquestiontxt" class="form-label">Enter the Question</label>
                    <input type="text" class="form-control" id="newquestiontxt">
                </div>
                <div class="mb-3">
                    <label for="newanstxt" class="form-label">Enter the Answer</label>
                    <input type="text" class="form-control" id="newanstxt">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="newislogin">
                    <label class="form-check-label" for="newislogin">ForLoggedIn</label>
                </div>

                <button id="addques" type="submit" class="btn btn-success">Submit</button>
            </form>
            <form action="" id="form2">
                <div class="mb-3">
                    <label for="questiontxt" class="form-label">Select the question</label>
                    <select id="questiontxt" class="form-select" aria-label="Default select example">
                        <option></option>
                    </select>    
                </div>
                <div class="mb-3" id="txtinput">
                    <label for="editquestiontext" class="form-label">Edit the selected question</label>
                    <input type="text" class="form-control" id="editquestiontext">
                </div>
                <div class="mb-3">
                    <label for="anstxt" class="form-label">The Answer</label>
                    <input type="text" class="form-control" id="anstxt">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="islogin">
                    <label class="form-check-label" for="islogin">ForLoggedIn</label>
                </div>

                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>

    <script>
        $("#add").click(function(){
            $("#form1").toggle();
            $("#form2").hide();
        });
        $("#modify").click(function(){
            $("#form1").hide();
            $("#form2").toggle();
        });
    </script>
</body>

<script>
    $(document).ready(function(){
        console.log('Function Called');
        $.ajax({
            type: "GET",
			url: '/chatbot/api/get-data/',
            data: {
                'rtype': 1
            },
			dataType: 'json',
			success: function(response){
                console.log(response);
                for( let i=0; i<response.categories.length; i++) {
                    let val = response.categories[i];
                    let option = document.createElement("option");
                    option.value = val.id;
                    option.textContent = val.name;
                    $('#category').append(option);
                }
            }
        });
    });

    $('#form1').submit(function(e){
        e.preventDefault();
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            type: 'POST',
			url: '/chatbot/api/get-data/',
            data: {
                category: $('#category').val(),
                question: $('#newquestiontxt').val(),
                answer: $('#newanstxt').val(),
                islogin: $('#newislogin').val(),
            },
            dataType: 'json',
            success: function(response){
                console.log(response);
                location.reload();
            }
        })
    });
    $('#form2').submit(function(e){
        e.preventDefault();
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            type: 'PATCH',
			url: '/chatbot/api/get-data/',
            data: {
                id: document.getElementById('questiontxt').value,
                question: $('#editquestiontext').val(),
                answer: $('#anstxt').val(),
                islogin: $('#islogin').val(),
            },
            success: function(response){
                console.log(response);
                location.reload();
            }
        })
    });

    $('#category').on('change', function() {
        console.log('Chang')
        let id = this.value;
        console.log(id);
        $('#questiontxt').empty();
        $('#questiontxt').append('<option></option>');
        $('#anstxt').val('');
        $('#editquestiontext').val('');
        $.ajax({
            type: "GET",
            url: '/chatbot/api/get-data/',
            data: {
                'rtype': 2,
                'category_id' : id
            },
            dataType: 'json',
            success: function(response){
                console.log(response);
                for( let i=0; i<response.data.length; i++) {
                    let val = response.data[i];
                    let option = document.createElement("option");
                    option.id = 'question-'+val.id;
                    option.value = val.id;
                    option.textContent = val.question;
                    option.data_answer = {answer: val.answer, usedForBot: val.usedFotBot};
                    $('#questiontxt').append(option);
                    $('#question-'+val.id).data('answer',{answer: val.answer, usedForBot: val.usedFotBot});
                }
            }
        });
    })

    $('#questiontxt').on('change', function() {
        let data = $(this).find(':selected').data('answer');
        $('#txtinput').show();
        let question = $(this).find(':selected').text();
        $('#editquestiontext').val(question);
        if(data){
            $('#anstxt').val(data.answer);
        }
        else{
            $('#anstxt').val('');
        }
    })

</script>

</html>