<!DOCTYPE html>
{% load static %} 
<html>
	<head>
		<title>{{name}}</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>
	<body>
		<h1>{{name}}</h1>
		<ul id="list"></ul>
	</body>

<script>
	$(document).ready(function(){
		console.log('here');
		$.ajax({
			type: "GET",
			url: '/api/{{type}}/',
			dataType: 'json',
			success: function(response){
				let feed = document.getElementById('list');
				let item;
				for (var i=0; i < response.length; i++){
					item = response[i];
					let link = document.createElement("a");
					let list_item = document.createElement("li");
					list_item.textContent = item.name;
					link.href = item.name;
					link.appendChild(list_item)
					feed.appendChild(link);
				}
			}
		});
	});
</script>

</html>